node_modules
.idea

#Hardhat files
cache
artifacts
.env

HopeChainApp/*.iml
HopeChainApp/.gradle
HopeChainApp/local.properties
HopeChainApp/.idea
HopeChainApp/.DS_Store
HopeChainApp/build
HopeChainApp/captures
HopeChainApp/.externalNativeBuild
HopeChainApp/.cxx
HopeChainApp/local.properties
